<ul>
<<<<<<< HEAD
  <li><%= link_to t("words"), words_path %></li>
  <li><a href="#"><%= t "lesson" %></a></li>
=======
  <li><a href="#"><%= t "words" %></a></li>
  <li><%= link_to t("lesson"), categories_path %></li>
>>>>>>> 38e620cc09f65e1a53816e1998308118cf0f59c9
</ul>
